<header class="site-header">

    <div class="container">

        <div class="header-container">


            <!-- Brand -->

            <a href="/" class="brand">

                <img src="/images/logo.jpg"
                     alt="MathLogic Logo"
                     class="brand-logo">

                <div class="brand-text">

                    <span class="brand-name">
                        MathLogic
                    </span>

                    <span class="brand-tagline">
                        Understand Mathematics.
                    </span>

                </div>

            </a>



            <!-- Mobile Menu Button -->

            <button class="menu-toggle"
                    aria-expanded="false"
                    aria-label="Open menu">

                <span></span>
                <span></span>
                <span></span>

            </button>



            <!-- Navigation -->

            <nav class="main-navigation">


                <a href="/" class="nav-link">
                    Home
                </a>



                <div class="nav-dropdown">


                    <button class="nav-dropdown-button">

                        Classes

                        <span class="dropdown-arrow">
                            ▾
                        </span>

                    </button>



                    <div class="dropdown-menu">

                        <a href="/pages/class-11.html">
                            Class 11
                        </a>

                        <a href="/pages/bs-maths.html">
                            BS Mathematics
                        </a>

                        <a href="/pages/ppsc-lecturer.html">
                            PPSC Lecturer
                        </a>

                    </div>


                </div>



                <!--<a href="/components/resources.html"
                   class="nav-link">

                    Resources

                </a>-->




                <a href="/#about" class="nav-link">
                    About
                </a>



                <a href="https://www.youtube.com/c/mathlogicpk"
                   class="youtube-header-button"
                   target="_blank">

                    YouTube

                </a>


            </nav>


        </div>

    </div>

</header>