<footer class="site-footer">

    <div class="container">

        <div class="page-footer-content">

            <div class="page-footer-brand">

                <h2>
                    MathLogic
                </h2>

                <p>
                    Understand Mathematics.
                </p>

            </div>


            <div class="page-footer-links">

                <a href="/">
                    Home
                </a>

                <a href="class-11.html">
                    Class 11
                </a>

                <a href="../components/resources.html">
                    Resources
                </a>

                <a href="../components/youtube.html">
                    YouTube
                </a>

                <a href="../components/about.html">
                    About
                </a>

            </div>

        </div>


        <div class="footer-bottom">

            <p>
                © 2026 MathLogic. All rights reserved.
            </p>

        </div>

    </div>

</footer>